/*
 *	최종 수정 날짜 : 2019. 07. 02.
 *	reference : css디자인(https://tgd.kr/css), 잉게더(https://tgd.kr/nanajam777), 꽃게더(https://tgd.kr/flowervin), 초게더(https://tgd.kr/cocopopp671)
 *				연게더(https://tgd.kr/rudbeckia7), 밍게더(https://tgd.kr/soming1907), 소게더(https://tgd.kr/yumyumyu77)....etc.
 *	만든이: J
 */

:root {
	
	--bgColor: #F4F8FA; /*배경 색상*/
	--mainColor: #4579a0; /* 검색창 테두리, */
	--cgColoer: #D4E2EC;/*게시판 카테고리 배경색*/
	--fontYanol: 'YanoljaYacheR', "Helvetica Neue", Helvetica, Arial, sans-serif;
	--fontGoyang: 'Goyang', "Helvetica Neue", Helvetica, Arial, sans-serif;

}

/* 고양체 */
@font-face { 
	
	font-family: 'Goyang'; 
	src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Goyang.woff) format('woff'); 
	font-weight: normal; 
	font-style: normal; 
	
}

/*야놀자체*/
@font-face { 
	
	font-family: 'YanoljaYacheR'; 
	src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YanoljaYacheR.woff) format('woff'); 
	font-weight: normal; 
	font-style: normal; 
	
}

/* 배경 */
html, body {
	
    height: auto !important;
    background: #F4F8FA;   
}


header {
	
	padding-top: 20px; /*로고 위 여백*/
	
}


/* 새 로고 */
header .row>div:nth-child(1)>a {

    display: block; 
    width: 155.32px;
    height: 50px;
    background: url(https://github.com/tgdimage/tgd/raw/master/main_logo.png) no-repeat;
   	background-position: 0px 0px;
    background-size: auto 50px;

}


/*총게더 -> 트게더 */
header .row>div:nth-child(1)>a:hover {
   
   background-position: -3727.68px 0px; 
   transition: background 0.8s steps(24);
}


/*기존 트게더 로고 지우기*/
header .row>div:nth-child(1)>a>img {

  display: none;

}

/*봉봉봉*/
div#header-bar.container::before {
	background: url(https://tgdimage.github.io/tgd/bong.png) no-repeat;
    background-size: auto 70px;
    position: absolute;
    top: 15px;
    margin-left: 150px;
    width: 100px;
    height: 100px;
    content:"";
}



/* 검색창 */
header #right-search-form>input[type=text] {

    border: 3px solid #4579a0; /* 검색창 테두리 색 */
    border-radius: 15px;

}

header #right-search-form>input[type=text]:focus { 
	
	outline: none !important; 
	
}

/* 검색 버튼 */
header #right-search-form>#right-search-btn {

    color: #4579a0; /* 검색창 옆 돋보기 색 */
	transition: 0.2s;
}

header #right-search-form>#right-search-btn:hover,
header #right-search-form>#right-search-btn:focus {
	transform: scale(1.25);
	transition: 0.2s;
}

/* 로고밑 배너 */
header #header-bar>.row, #main .menu-wrapper {
	
    /*border-radius: 15px; */
    border-radius: 10px;

}

/* 트게더 광고 배너 */
header #header-bar>.row {

    border-top: 5px solid #4579a0 !important; /* 광고 배너 테두리 색 */

}



/* 광고 배너 광고 뱃지 */
header #header-bar #header-top-notice strong.notice-badge {

    background: #4579a0; /* 광고 배너 광고 뱃지 배경 색상 */
    font-weight: bold;
    
}

/*최근, 즐겨찾기, 출첵 버튼*/
header i.fa.fa-clock-o, header i.fa.fa-star, header i.fa.fa-smile-o, header i.fa.fa-envelope-o {
    color: #000000 !important;
}

/* 좌측 배너 */
#main .menu-wrapper {
    border-right: 2px solid #F4F8FA;
    border-bottom: 2px solid #F4F8FA;
    margin-bottom: 0.8em;
}



/* 좌측 배너 헤더 */
#main .menu-wrapper>.header {

    background: #4579a0; /* 좌측 배너 제목 배경 색 */
    border-radius: 15px 15px 0 0;

}


/* 좌측 배너 빈 공간 */
#main .menu-wrapper .spacer {
    background: none;
}



/* 좌측 배너 하단 */
#main .menu-wrapper a:nth-last-child(1) {
    border-radius: 0px 0px 15px 15px;
}



/* 메인 배너 */
#main #main-content>div.frame {
	border-top: solid 4px #4579a0;
	border-radius: 15px;
}

#board-info {
	
	height: 5em;
}

/*트게더 점수 #board-info #score-area {display: none;}*/

/*채널 프로필 사진*/
#board-info-profile-img {
	
	border-radius: 50%;
	float: left !important;
}

/* 김총무님 */
#board-info h1>a:nth-child(1) {
	font-family: 'Goyang', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 30px;
	padding: 0 0 0 10px;
	width : 100px;
	height : auto;
	
  
}

#board-info h1>a:nth-child(1):hover {
	
	-webkit- animation: flash ease-in-out 1s infinite;
	-moz-	 animation: flash ease-in-out 1s infinite;
	-ms-	 animation: flash ease-in-out 1s infinite;
	-o-		 animation: flash ease-in-out 1s infinite;
    		 animation: flash ease-in-out 1s infinite;

}

/* 접속자 수 */
#board-info #viewers-area {

    color: #6bbb00; /* 접속자 수 글씨 색 */
}

#board-info #viewers-area #viewers:before {

    content: "";    /* 숫자 앞에 들어갈 문구 */
    font-family: ;
    cursor: text;
	
}



#board-info #viewers-area #viewers:after {

    content: "명 공병 줍다 쉬는 중";    /* 숫자 뒤에 들어갈 문구 */
    cursor: text;

}

/* 메인 배너 글 공지 */
#article-list>.article-list-row.notice {

	background-color: #F4F8FA; /* 공지 배경 색 */

}

#article-list>.article-list-row.notice:hover {
    background-color: #D4E2EC !important;
}

/* 글 추천 수 */
#article-list>.article-list-row>.item>.list-header>span {

    background-color: #4579a0; /* 글 추천 수 배경 색 */

}

/* 댓글 수 */

#article-list>.article-list-row>.item>.list-title>small.comment-count {

    color: #596fb5; /* 댓글 수 색 */

}

#article-reply-area > .header h5 {

    color: #596fb5; /* 게시글 내 댓글 수 색 */

}

/*
	*글 작성자 닉네임 색 변경 
	#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {}
	
	*인기글 버튼 
	#article-list #article-list-menu>.btn.best {}
	
	*설정 버튼 
	#article-list #article-list-menu>.btn.cog {}
	
	*삭제 버튼 
	#article-list #article-list-menu>.btn.del {}
	
	*글 쓰기 버튼 
	#article-list #article-list-menu>.btn.write {}
*/

.btn-primary {

    background-color: #4579a0; /* 글 쓰기 버튼 배경 색 */

   /* border-color: #;  글 쓰기 버튼 배경 색 */

}

/* 게시글 추천 */

.vote-btn[data-type="up"] {
	
	border: none;
	outline: 0;
	font-size: 0px;
	height: 100px;
	width: 100px;
	background-image: url('https://github.com/tgdimage/tgd/raw/master/heart2.png');
	outline: 0 !important; 
	background-color: rgba( 255, 255, 255, 0 );

}

.vote-btn[data-type="up"]:hover {

	background-position: -2800px 0;
	transition: 1s steps(28);
	

}

.vote-btn[data-type="up"]:active {
	
	opacity: 0;
	outline: none;

}

.vote-btn[data-type="up"] span::before {

	content: "추천 ";
	
}

.vote-btn[data-type="up"] span {

	font-family: 'YanoljaYacheR', "Helvetica Neue", Helvetica, Arial, sans-serif;
	
	padding-top: 14px;

	padding-left: 60px;

	font-size: 24px;

	color: #e2264d;

}

.article-profile-img {
	
		border-radius: 50%;

	
}

#article-content-wrapper>.header {
    border-top: 4px solid #4579a0;
    background: #D4E2EC;
    padding: 0.6em 0.8em;
}

#article-content-wrapper>.footer {
    border-bottom: 4px solid #4579a0;
    background: #D4E2EC;
    padding: 0.5em 0.8em;
}

#article-reply-area #reply-real-area .reply > .reply-header, #article-reply-area #reply-best-area .reply>.reply-header {
    background: #F4F8FA;
    padding: 0.4em 0.5em;
}

/*페이지 숫자, 배경*/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #4579a0;
    border-color: #F4F8FA;
}


/*공지, 수다, 허언갤.... */
#article-list #article-list-category>a.active,  #article-list #article-list-category>a {
    background: #D4E2EC;
}

 #article-list #article-list-category>a:hover {
     background: white;
 }

#article-list #article-list-category {
	
    border-top: 4px solid #4579a0;
    background-color : #D4E2EC;
    
}

/* 공지 ! 아이콘*/
#article-list #item #list-title #fa #fa-info-circle {
	
	color: #4579a0;
}

#main .menu-wrapper > a > i.fa.fa-square {

    color: #719FC1;

}

#main .menu-wrapper>a>em {
	
    color: #719FC1;
}

/*인기글 별 빙글빙글*/
span.a-badge i.fa.fa-star { 
	
	animation: binglebingle 2s linear infinite;
}

/* 하트 애니메이션  */
.favo .fa-heart {
  -webkit- animation-name: hvr-icon-pulse;
  animation-name: hvr-icon-pulse;
  -webkit- animation-duration: 1s;
  animation-duration: 1s;
  -webkit- animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit- animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


/*---- KEY FRAME ----*/


@keyframes flash {
	
	0%,	50%	{
    	opacity: 1; color: #55c9ea;
	}
	
	55%, 60% {
    	opacity: 0;
	}
	
  	100% {
  		opacity: 1; color: #55c9ea;
	}
}


@keyframes binglebingle { 
	
	from { transform: rotate(0deg); } 
	to { transform: rotate(360deg); } 
	
} 

-webkit- @keyframes hvr-icon-pulse {
  25% {
    -webkit- transform: scale(1.3);
    transform: scale(1.3);
  }
  75% {
    -webkit- transform: scale(0.8);
    transform: scale(0.8);
  }
}
@keyframes hvr-icon-pulse {
  25% {
    -webkit- transform: scale(1.3);
    transform: scale(1.3);
  }
  75% {
    -webkit- transform: scale(0.8);
    transform: scale(0.8);
  }
}
